@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  user-select: none;
}

input,
select,
textarea,
button {
  font: inherit;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Cinzel Decorative", cursive;
  font-size: 2rem;
  height: 100vh;
  min-height: 100%;
  color: #222;
  background-color: #eabfb9;
  display: flex;
  align-items: center;
  justify-content: center;
}
